{% extends ('admin/admin_base.html') %}
{% block title %} Admin | PasswordChange {% endblock %}
{% block content %}

<!--<style>-->
<!--body{-->
<!--position:fixed;-->
<!--}-->
<!--.form-control{-->
<!--background:transparent;}-->
</style>

         <h1 class="second-h2 text-black" >Change Password</h1><br><br>
       <form class="form-horizontal home-card" action="/admin_password_change" method="post" enctype="multipart/form-data">
            <div class="row">
               <div class="col">
                        <div class="form-group" >
                       <label class="control-label col-sm-3">Old Password :</label><br><br>
                      <div class="col-lg-4">
                      <input type="text"  name="old"  class="form-control" required placeholder="Enter old password to confirm... "/><br>
                          </div>
                      </div>

                      <div class="form-group" >
                       <label class="control-label col-sm-3" >New Password :</label><br><br>
                      <div class="col-lg-4">
                      <input type="password"   class="form-control" required placeholder="Create new password... " name="new" /><br>
                          </div>
                      </div>
                    <div class="form-group" >
                        <label class="control-label col-sm-3" for="a">Re-enter  :</label><br><br>
                      <div class="col-lg-4">
                       <input type="password"   class="form-control" required placeholder="Re-enter password to verify... "  name="verify" id="a"/><br>
                         </div>
                      </div>
               </div>
            </div>
           {% if msg2 %}
           <h6 style="color:yellow;">{{ msg2 }}</h6>
           {% endif %}
           <br>
            <div class="row">
                <div class="col">
        <div class="form-group">
             <div class="col-sm-offset-3 col-sm-8">
            <button style="width:100px;height:50px;" type="submit" class="btn-danger predict">Submit</button>
            </div>
                </div>
          <h5 style="color:green;">{{ msg1 }}</h5>
         <h5 style="color:red;">{{ msg3 }}</h5>
                </div>

            </div>
           </form>

{% endblock %}